.board {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 26px;
  border: 3px solid darkgrey;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
