.App {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 50px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.Container {
  background-color: lightgrey;
  border: 3px solid darkgrey;
  min-width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.ButtonContainer {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid darkgrey;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
